.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  max-width: 350px;
  min-width: 100px;
  background-color: rgb(198, 212, 199);
  z-index: 1;
}
.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.product > button {
  background-color: yellowgreen;
  border: 1px solid;
  margin-top: 10px;
  border-color: #608654;
  color: #111;
}
.product_price {
  margin-top: 10px;
}
.product-info {
  height: 108px;
  margin-bottom: 5px;
}
.product_rating {
  width: 100%;
  display: flex;
  color: rgb(40, 82, 51);
}
